/* all common css start */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
a{
    text-decoration: none;
    display: inline;
}
ul,ol{
   list-style-type: none; 
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height:0.8;
  
}
.container{
    width: 1240px;
   margin: 0 auto; 
}
/* all common css end */

/* header part start */
#headerPart{
    padding: 45px,0;

}
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 0 37px;
   
}
.iconFlex{
    display: flex; 
    align-items: center;
    column-gap: 45px;
}
/* header part end */

/* banner part start */
#bannerbg{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 115px;
}
.card{
   
   background:#FFF3E3;
   width: 50%;
   margin-left: auto;
   padding: 65px 75px 35px 40px;
   border-radius: 10px;
}
.card h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 15px;
}
.card h1{
    font-size: 52px;
    font-weight: 700;
    color: #B88E2F;
    line-height: 65px;
    padding-right: 151px;
}
.card p{
    font-size: 18px;
    font-weight: 500;
    color:#333333;
    line-height: 65px;
    padding-right: 24px;
    width: 566px;
    padding-top: 15px;
    padding-bottom: 40px;
}


.card a{
    padding: 25px 72px;
    background:#B88E2F ;
    font-size: 18px;
    font-weight: 700px;
    color:#fff;
    text-transform: uppercase;
}

/* banner part end */

/* rooms part start */
#roomsPart{
    padding-top: 65px;
    padding: bottom 70px;
}
.commonTitle{
    text-align: center;
}
.commonTitle h3{
    font-weight: 700px;
    font-size: 40px;
    color: #333333;
    padding-bottom: 20px;
}
.commonTitle p{
    font-weight: 400;
    font-size: 20px;
    color: #666666;
}
.roomsFlex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.room{
    width: 32%;
}
.room img{
    width: 100%;
}
.room h4{
    font-weight: 500px;
    font-size: 20px;
    color: #333333;
   text-align: center;
}
/* rooms part end */
/* header part start */
/* header part end */
/* header part start */
/* header part end */
/* header part start */
/* header part end */